/*
 Parts of this code has been based on a tutorial from Coding With Nick
https://codingwithnick.in/create-a-quiz-app-using-html-css-javascript/
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
}


body{
  background-color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  /* color: ; */
}

.start-btn {

  background-color: #A63446;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  text-align: center;
  text-decoration: none; 

}

.start-btn:hover {
  background-color: #7E1946;
}

.quiz-container, .landing-box {

  position: relative; 
  background-color: #FBFEF9;
  border-radius: 30px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  max-width: 90%; 
  width: 90vw;
  overflow: hidden;
  /* height: 80vh; */ 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
}

.heading, .trivia-heading {

  background-color: #0C6291;
  color: #FBFEF9;
  text-align: center;
  position: relative;
  z-index: 1;  
  padding: 10px;
  width: 100%;
  inset: 0 0 auto 0; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; 

  }

  .heading a {

    text-decoration: none; 
    color: #EBEBD3;

  }

  .quiz-header {

    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 

  }

  .trivia-text {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
  }



.quiz-header{
  padding: 1rem;
}

h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}

ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label{
  cursor: pointer;
}

button {
  background-color: #A63446;
  color: #ffffff;
  border: none;
  position: relative; 
  display: block;
  width: 100%; 
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  z-index: 1;  
  inset: 0 0 auto 0;
  padding: 1.3rem; 

}

button:hover{
  background-color: #7E1946;
}

button:focus{
  outline: none;
  background-color: #014421;
}

#quiz-result {

  background-color: rgba(8, 61, 119);
  color: #FBFEF9;
  text-align: center;
  position: relative;
  z-index: 1;  
  padding: 10px;
  width: 100%;
  inset: 0 0 auto 0; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; 

}

@media screen and (min-width: 820px) {
  .quiz-container, .landing-box {

    position: relative; 
    background-color: #FBFEF9;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    max-width: 90%; 
    width: 50vw;
    overflow: hidden;
    /* height: 80vh; */ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
     
  }

}

@media screen and (max-width: 480px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */ 
  }
  
  .quiz-container, .landing-box {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .quiz-header {
    flex: 1;
    overflow-y: auto;
  }

  h2 {
    font-size: 1.2rem; 
    padding: 0.5rem; 
    margin: 0 0 0.5rem 0; 
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ul li {
    font-size: 1rem; 
    margin: 0.5rem 0; 
  }
} 





